<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.activities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.profile.PostUserProfileEditable"></activity>
        <activity
            android:name=".ui.profile.UserProfileEditable"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.ShowHistoryPost"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.ShowHistorySearch"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.ShowFuturePost"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.ShowFutureSearch"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.UserProfile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.PostUserProfile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".data.rtdb.ActivityInfo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.searchActivity.AdvancedSearch"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.AdressPostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.DescribePostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.GenderPostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.GroupPostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.DifficultyPostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.TypePostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.NamePostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".data.rtdb.ShowActivities"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.searchActivity.SearchOrPost"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.searchActivity.SearchOrPost" />
        </activity>
        <activity
            android:name=".ui.searchActivity.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.postActivitiyJava.PostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Email"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Password"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Name"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Gender"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_DateOfBirth"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Phone"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Permition"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_PostIntro"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.registration.RegisterToApp_Education"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.searchActivity.SearchOrPost"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.searchActivity.SearchOnly"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>